{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shuxratov Blog</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>
<body>
    <header>
        <h1> <a href="{% url 'main' %}">Shuxratov Blog</a> </h1>
    </header>
    {% if user.is_authenticated %}
        <p>Xush kelibsiz! Hurmatli {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Kirish</a></p>
        <p><a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <h2><a href='{% url 'creater' %}'>Post qo'shish</a> </h2>
    </footer>
</body>
</html>
